*{
    font-family: 'Courier New', Courier, monospace;
}

h1,h3{
    color: #b92b27;
}
#login{
    background-color: greenyellow;
}
#signup{
    background-color: blue;
}
.upvote{
   
    background-color: blue;
}
/*p .follow{
    color: blue;
    background-color: yellow;
}*/
a>button{
    color:white;
    background-color: black;
}
button:active{
    color: blueviolet;
    background-color: cyan;
}
.follow:nth-of-type(2n){
    color: red;
    text-decoration:black overline;
}